@font-face {
  font-family: $gothamblack;
  src: url('./assets/fonts/GothaProBla.otf');
}
@font-face {
  font-family: $gothambold;
  src: url('./assets/fonts/GothaProBol.otf');
}
@font-face {
  font-family: $gotham;
  src: url('./assets/fonts/GothaProReg.otf');
}
@font-face {
  font-family: $gothammed;
  src: url('./assets/fonts/GothaProMed.otf');
}
@font-face {
  font-family: $banderabold;
  src: url('./assets/fonts/BanderaPro-Bold.otf');
}

