$width-max: '(min-width: 1200px)';
$width-mid: '(min-width: 992px)';
$width-sm: '(min-width: 768px)';
$width-xs: '(min-width: 576px)';
$width-xxs: '(min-width: 420px)';

$gotham: "GothamPro";
$gothammed: "GothamPro-Medium";
$gothamblack: "GothamPro-Black";
$gothambold: "GothamPro-Bold";
$banderabold: "BanderaPro-Bold";

$pinkmain: #a70c5d;

$fontmain: #414252;
$fonttitle: #3f4147;
