//feedback form styles
.feedback{
  font-family: $gothammed, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 33px;
  .title-wrap{
    padding-bottom: 36px;
  }
  .form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 40px;
    @include media($width-xs){
      padding: 0 80px;
    }
    @include media($width-sm){
      padding: 0 160px;
    }
    .left, .right{
      width: 100%;
      @include media($width-sm){
        width: 47.5%;
      }
    }
    .inputs-wrap{
      input{
        display: block;
        width: 100%;
        height: 30px;
        margin-bottom: 20px;
        border: 0;
        outline: none;
        border-bottom: 1px solid #dcdcdc;
        font-family: $gothamblack, sans-serif;
        text-transform: uppercase;
        box-sizing: border-box;
        &:last-child{
          margin-bottom: 49px;
        }
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $fonttitle;
          text-transform: uppercase;
          font-size: 11px;
          line-height: 20px;
          font-family: $gothammed, sans-serif;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: $fonttitle;
          text-transform: uppercase;
          font-size: 11px;
          line-height: 20px;
          font-family: $gothammed, sans-serif;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $fonttitle;
          text-transform: uppercase;
          font-size: 11px;
          line-height: 20px;
          font-family: $gothammed, sans-serif;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $fonttitle;
          text-transform: uppercase;
          font-size: 11px;
          line-height: 20px;
          font-family: $gothammed, sans-serif;
        }
      }
      .is-invalid{
        border-bottom: 1px solid red;
        margin-bottom: 5px;
      }
      .invalid-feedback{
        display: none;
        font-size: 10px;
        color: red;
        font-style: italic;
        text-transform: initial;
        text-align: center;
      }
      .is-invalid ~ .invalid-feedback{
        display: block;
      }
    }
    .topic-box{
      .main-title{
        cursor: pointer;
        border: 1px solid #dcdcdc;
        padding: 20px;
        background-color: #fcfcfd;
        position: relative;
        .arrow{
          font-size: 10px;
          line-height: 19px;
          position: absolute;
          right: 18px;
          top: 14px;
          width: 22px;
          color: #d2d2d7;
          font-family: $gothamblack;
          text-align: center;
          height: 22px;
          border-radius: 50%;
          border: 2px solid #d2d2d7;
          transform: rotate(-90deg);
          box-sizing: border-box;
        }
      }
      &:hover .arrow{
        transform: rotate(90deg);
      }
      .topic-list{
        border: 1px solid #dcdcdc;
        border-top-width: 0;
        padding: 27px 10px 8px 0;
        display: none;
      }
      &:hover .topic-list{
        display: block;
      }
    }
    .checkbox-wrap {
      padding-left: 43px;
      box-sizing: border-box;
      display: block;
      cursor: pointer;
      font-size: 13px;
      text-transform: initial;
      font-family: $gotham, sans-serif;
      position: relative;
      margin-bottom: 18px;
      user-select: none;
    }
    .checkbox-wrap input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    .checkmark {
      position: absolute;
      left: 20px;
      top: 3px;
      content: '';
      width: 7px;
      height: 7px;
      border-radius: 50%;
      border: 2px solid #c9cacf;
      box-sizing: border-box;
    }
    .checkbox-wrap:hover input ~ .checkmark {
      border-color: $pinkmain;
    }
    .checkbox-wrap:hover{
      color: $pinkmain;
    }
    .checkbox-wrap input:checked ~ .checkmark {
      border-color: $pinkmain;
    }
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    .checkbox-wrap input:checked ~ .checkmark:after {
      display: block;
    }
    .checkbox-wrap .checkmark:after {
      left: -1px;
      top: -9px;
      width: 5px;
      height: 10px;
      border: solid $pinkmain;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  .right {
     @include media($width-sm){
      margin-left: 5%;
    }
    label{
      margin-bottom: 8px;
      display: inline-block;
      padding-top: 11px;
    }
    textarea {
      height: 100px;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #dcdcdc;
      resize: none;
      padding: 15px 0 0 15px;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #9fa0a3;
        font-size: 15px;
        font-family: $gotham, sans-serif;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #9fa0a3;
        font-size: 15px;
        font-family: $gotham, sans-serif;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #9fa0a3;
        font-size: 15px;
        font-family: $gotham, sans-serif;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #9fa0a3;
        font-size: 15px;
        font-family: $gotham, sans-serif;
      }
      @include media($width-sm){
        height: 250px;
      }
    }
  }
  .main-btn{
    margin-top: 38px;
  }
}