@import '/assets/scss/settings';
@import '/assets/scss/mixins';
@import "/assets/scss/fonts";
@import "/assets/scss/reset";
body{
color: $fontmain;
}
.container{
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}
.header-banner-wrap{
  background: url("./assets/img/mainbg.jpg") left top;
  background-size: cover;
}
.main-header{
  position: relative;
  color: $fonttitle;
  font-size: 28px;
  font-family: $gothambold, sans-serif;
  text-align: center;
  margin-bottom: 31px;
  &:before{
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: $pinkmain;
  }
}
.main-btn{
  width: 180px;
  height: 50px;
  background-color: $pinkmain;
  font-family: $gothambold, sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  line-height: 50px;
  border-radius: 23px;
  &:hover{
    opacity: 0.9;
    box-shadow: 0 0.5em 0.5em -0.4em $pinkmain;
    transform: translateY(-0.25em);
  }
}
@import "./components/header/_header";
@import "components/mainheader/mainheader";
@import "./components/banner/_banner";
@import "./components/services/_services";
@import "./components/services/service/_service";
@import "./components/services/modal/_servicesmodal";
@import "./components/reviews/_reviews";
@import "./components/reviews/review/_review";
@import "./components/feedbackform/_feedbackform";
@import "./components/footer/_footer";
